/* ---------------------- ProfileSlider-----------------------------*/

/* #profile_slider {
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  transition: right 0.3s ease-in-out;
}
#profile_slider:target {
    right: 0;
} */